<%- include("header") -%>

    <h2>Created by Aman Vishwakarma</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum accusantium, eligendi voluptas tempore,
        voluptatum quaerat delectus tempora blanditiis culpa voluptates natus vel asperiores esse vitae repellat velit?
        Maiores, amet tenetur, laboriosam voluptas nulla illum fugit culpa deserunt officia laborum accusamus hic
        temporibus! Quae, eveniet doloremque necessitatibus magnam assumenda ea!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum accusantium, eligendi voluptas tempore,
        voluptatum quaerat delectus tempora blanditiis culpa voluptates natus vel asperiores esse vitae repellat velit?
        Maiores, amet tenetur, laboriosam voluptas nulla illum fugit culpa deserunt officia laborum accusamus hic
        temporibus! Quae, eveniet doloremque necessitatibus magnam assumenda ea!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum accusantium, eligendi voluptas tempore,
        voluptatum quaerat delectus tempora blanditiis culpa voluptates natus vel asperiores esse vitae repellat velit?
        Maiores, amet tenetur, laboriosam voluptas nulla illum fugit culpa deserunt officia laborum accusamus hic
        temporibus! Quae, eveniet doloremque necessitatibus magnam assumenda ea!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum accusantium, eligendi voluptas tempore,
        voluptatum quaerat delectus tempora blanditiis culpa voluptates natus vel asperiores esse vitae repellat velit?
        Maiores, amet tenetur, laboriosam voluptas nulla illum fugit culpa deserunt officia laborum accusamus hic
        temporibus! Quae, eveniet doloremque necessitatibus magnam assumenda ea!
    </p>

<%- include("footer") -%>